ion-content.main-content {
  --background: var(--ion-color-primary);
}

p {
  font-weight: bold;
  text-align: center;
  color: white;
}

.info-message {
  color: white;
  text-align: center;
  font-weight: bold;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  padding: 10px;
  margin: 10px;
  font-weight: bold;
  background-color: var(--ion-color-primary);
  color: white;
  text-align: center;
  border-radius: 10px;
  border-radius: 20px;
  border: 1px solid white;
}

img {
  width: 100vw;
}

h3 {
  text-align: center;
  color: white;
}

a {
  display: table;
  margin: auto;
}

ion-button {
  --background: var(--ion-color-primary-contrast);
  --color: var(--ion-color-primary);
}