<ion-menu contentId="main-content">
  <ion-header>
    <ion-toolbar>
      <ion-title>Zadania</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content class="ion-padding">
    <p *ngIf="!exercises?.length">Te zadania będą niedługo :)</p>
    <ul *ngIf="exercises.length">
      <li *ngFor="let exerciseNumber of exercises" (click)="showImage(exerciseNumber)">{{ selectedSubchapter.number }}.{{ exerciseNumber }}</li>
    </ul>
  </ion-content>
</ion-menu>

<div class="ion-page" id="main-content">
  <ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-title>Podgląd zadania</ion-title>
      <ion-progress-bar *ngIf="isLoading" type="indeterminate"></ion-progress-bar>
    </ion-toolbar>
  </ion-header>
  <ion-content class="main-content">
    <ng-container>
      <img width="100vw" src="assets/images/choseexercise.gif" *ngIf="!selectedExercise; else exerciseImage">
      <br>
      <p *ngIf="selectedExercise?.imageUrl">Jakiś błąd?</p>
      <a *ngIf="selectedExercise" href="mailto:mathmasters.contact@gmail.com?subject=Zadanie&body=Proszę o rozwiązanie zadania. Książka: {{ selectedSubchapter?.bookId || '[WPISZ]'}}, rozdział: {{selectedSubchapter?.chapterNumber || '[WPISZ]'}}, temat: {{selectedSubchapter?.number || '[WPISZ]'}}, zadanie: {{selectedExercise?.number || '[WPISZ]'}}">
        <ion-button>
          <ion-icon slot="start" name="mail-outline"></ion-icon>
          Napisz do nas!
        </ion-button>
      </a>
      <br>
    </ng-container>
    
    <ng-template #exerciseImage>
      <img *ngIf="!!selectedExercise?.imageUrl" [src]="selectedExercise?.imageUrl" (load)="imageIsLoaded()">
      <img width="100vw" *ngIf="!selectedExercise?.imageUrl" src="assets/images/noexercise.gif">
    </ng-template>
    <div class="loading"></div>
  </ion-content>
</div>