<ion-menu contentId="main-content">
  <ion-header>
    <ion-toolbar color="primary">
      <ion-title>Zadania</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content class="ion-padding">
    <p *ngIf="!exercises?.length">Te zadania będą niedługo :)</p>
    <ul *ngIf="exercises.length">
      <li *ngFor="let exerciseNumber of exercises" (click)="searchExercise(exerciseNumber)">{{ selectedSubchapter.number }}.{{ exerciseNumber }}</li>
    </ul>
  </ion-content>
</ion-menu>

<div class="ion-page" id="main-content">
  <ion-header>
    <ion-toolbar color="primary">
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-title>Podgląd zadania</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content class="main-content">
    <ng-container>
      <img width="100vw" src="assets/images/choseexercise.gif" *ngIf="!userSearchedExercise; else exerciseImage">
      <a *ngIf="userSearchedExercise" href="mailto:mathmasters.contact@gmail.com?subject=Zadanie&body=Proszę o rozwiązanie zadania. Książka: {{ selectedSubchapter?.bookid || '[WPISZ]'}}, rozdział: {{selectedSubchapter?.chapternumber || '[WPISZ]'}}, temat: {{selectedSubchapter?.number || '[WPISZ]'}}, zadanie: {{selectedExercise?.number || '[WPISZ]'}}">
        <app-button [title]="'Napisz do nas!'" [iconName]="'mail-outline'"></app-button>
      </a>
      <br>
    </ng-container>
    
    <ng-template #exerciseImage>
      <app-single-exercise [exerciseData]="selectedExercise" (imageLoaded)="imageIsLoaded()"></app-single-exercise>
    </ng-template>
  </ion-content>
</div>

<div *ngIf="isLoading" class="waitingscreen"></div>