img {
   width: 100vw;
 }

 ion-button {
  --background: white;
  --color: var(--ion-color-primary)
 }

 .additional-elements {
  display: flex;
  flex-direction: column;
  justify-content: center;
 }

 p {
  font-weight: bold;
  text-align: center;
  color: white;
}

.no-exercise-img {
  padding: 10px;
  border-radius: 20px;
}