<div class="swiper">
  <!-- Additional required wrapper -->
  <div class="swiper-wrapper">
    <!-- Slides -->
    <div class="swiper-slide">
      <img class="slide-image" src="assets/onboarding/screen1.png">
    </div>
    <div class="swiper-slide">
      <img class="slide-image" src="assets/onboarding/screen2.png">
    </div>
    <div class="swiper-slide">
      <img class="slide-image" src="assets/onboarding/screen3.png">
    </div>
  </div>
  <div class="swiper-pagination"></div>

  <div class="swiper-button-prev"></div>
  <div class="swiper-button-next"></div>

  <div class="swiper-scrollbar"></div>
</div>