<ion-toolbar color="primary">
  <ion-buttons slot="start" *ngIf="selectedBook">
    <ion-button (click)="selectedBook = null; isLoading = false">Wróć</ion-button>
  </ion-buttons>
  <ion-title>{{ !selectedBook ? 'Wybierz książkę' : 'Wybierz rozdział'}}</ion-title>
</ion-toolbar>

<ion-content color="primary">
  <img *ngIf="isLoading" class="waitingscreen" [src]="'assets/images/loadingscreen.gif'">


  <div class="menu-container" *ngIf="!selectedBook; else chapters">
    <app-button *ngFor="let book of books" (click)="getChaptersForBook(book)" [title]="book.title"></app-button>
  </div>

  <ng-template #chapters>
    <ion-accordion-group expand="inset">
      <ion-accordion *ngFor="let chapter of bookChapters" [value]="chapter.name">
        <ion-item slot="header" color="light">
          <ion-label class="chapter-name">{{ chapter.name }}</ion-label>
        </ion-item>
        <div class="ion-padding" slot="content">
        <p class="subchapter-name" (click)="showExercises(subchapter)" *ngFor="let subchapter of chapter.subchapters">{{ subchapter.number }}.{{ subchapter.name }}</p>
        </div>
      </ion-accordion>
    </ion-accordion-group>
  </ng-template>

</ion-content>