<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-title>
      Filmy
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="menu-container">
    <app-button *ngFor="let video of videoList" [title]="video.snippet.title" [thumbnailUrl]="video.snippet.thumbnails.medium.url" [fullWidth]="true" (click)="openVideo(video.snippet.resourceId.videoId)"></app-button>
  </div>
</ion-content>

<img *ngIf="isLoading" class="waitingscreen" [src]="'assets/images/loadingscreen.gif'">