<ion-content>
  <div class="container">
    <img class="logo" src="assets/icon/logo.png">
    <div class="panel">
      <a routerLink="/exercises"><div class="button">Rozwiązania zadań</div></a>
      <div class="button" id="open-modal" >Oferta korepetycji</div>
      <div class="button inactive">Tutoriale</div>
      <div class="button inactive">Przygotowanie do matury</div>
      <div class="button inactive">Rozwój osobisty</div>
      <div class="button inactive">Nasz blog</div>
      <div class="button inactive">Social media</div>
    </div>
  </div>
</ion-content>

<ion-modal #modal trigger="open-modal" [initialBreakpoint]="0.25" [breakpoints]="[0, 0.25, 0.5, 0.75]">
  <ng-template>
    <div class="modal-content">
      <h2>Potrzebujesz korków?</h2>
      <h4>Możesz umówić się na jedno lub kilka spotkań</h4>
      <ul>
        <li>Matematyka podstawowa</li>
        <li>Matematyka rozszerzona</li>
        <li>Przygotowanie do matury</li>
        <li>Przygotowanie do sprawdzianu</li>
        <li>Ćwiczenia bieżących tematów</li>
      </ul>
      <a href="tel:515451515">
        <div class="button">Zadzwoń</div>
      </a>
    </div>
  </ng-template>
</ion-modal>

