<ion-content>
  <div class="menu-container">
    <div class="menu-item" id="open-modal">
      <ion-icon name="school-outline"></ion-icon>
      <h3 class="menu-item-title">Korepetycje</h3>
    </div>
    <a routerLink="/channel">
      <div class="menu-item">
        <ion-icon name="caret-forward-circle-outline"></ion-icon>
        <h3 class="menu-item-title">Kurs</h3>
      </div>
    </a>
    <a href="https://www.instagram.com/math.masters.matematyka/">
      <div class="menu-item">
        <ion-icon name="logo-instagram"></ion-icon>
        <h3 class="menu-item-title">Instagram</h3>
      </div>
    </a>
  </div>

  <ion-modal #modal trigger="open-modal" [initialBreakpoint]="0.25" [breakpoints]="[0, 0.25, 0.5, 0.75]">
    <ng-template>
      <div class="modal-content">
        <h2>Potrzebujesz korków?</h2>
        <h4>Możesz umówić się na jedno lub kilka spotkań</h4>
        <ul>
          <li>Matematyka podstawowa</li>
          <li>Matematyka rozszerzona</li>
          <li>Przygotowanie do matury</li>
          <li>Przygotowanie do sprawdzianu</li>
          <li>Ćwiczenia bieżących tematów</li>
        </ul>
        <a href="tel:515451515">
          <ion-button expand="block">Zadzwoń</ion-button>
        </a>
      </div>
    </ng-template>
  </ion-modal>
</ion-content>

<img *ngIf="showStartScreen" class="waitingscreen" [src]="'assets/images/startscreen.gif'">
